Summary: %summary%
Name: %name%
Version: %version%
Release: %release%
License: %license%
Group: Local
Provides: %name% %provides%
Packager: %whoami%
BuildRoot: %buildroot
BuildArch: %arch%

%description
%summary%

%%ifscript(post.sh)
%post
%%post.sh%%
%%endif

%%ifscript(preun.sh)
%preun
%%preun.sh%%
%%endif

